.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.backgroundImage {
  background-image: url(images/mainImage.png);
  height: 100vh;
  width: auto;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
}

a {
  text-decoration: none;
  color: black;
}

.grid {
  height: 40px;
  width: 40px;
}

.grid:hover {
  background-color: rgba(0, 0, 0, 0.494);
}