.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImage {
  background-image: url(images/mainImage.png);
  height: 93vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(45, 1fr);
  grid-template-rows: repeat(100, 1fr);
}

a {
  text-decoration: none;
  color: black;
}

.grid {
  height: 40px;
  width: 40px;
}

.grid:hover {
  background-color: rgba(0, 0, 0, 0.494);
}

#pennsylvester {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.285);
  position: absolute;
  top: 440px;
  right: 1025px;
}

.footer {
  height: 2vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}