.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.backgroundImage {
  background-image: url(images/mainImage.png);
  height: 100vh;
  width: auto;
}

a {
  text-decoration: none;
  color: black;
}